/*--------------------------------------------*/
/*Basic Set Up*/
/*--------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* overflow: hidden; */
}

/*--------------------------------------------*/
/*Reusable Componets*/
/*--------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

 /*---------HEADINGS----------*/

h1, h2, h3, h4 {
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
}

h1 {
    margin-top: 0;
    /* margin-bottom: 20px;  */
    color: white;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 200%;
    word-spacing: 2px;
    margin-bottom: 30px;   
}

h3 {
    font-size: 130%;
    margin-bottom: 15px;
    color: #c6ab4f;
}

h4 {
    color: white;
    font-size: 100%;
    letter-spacing: 3px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #c6ab4f;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*---------PARAGRAPHS----------*/

.long-copy {
    line-height: 145%;
    width: 75%;
    margin-left: 12%;
    font-size: 115%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*---------ICONS----------*/

.icon-big {
    font-size: 300%;
    display: block;
    color: #6b5a22;
    margin-bottom: 10px;
    padding: 15%;
    width: 70%;
}

/*---------BUTTONS----------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #c6ab4f;
    color: white;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
 border: 1px solid #c6ab4f;
 color: #c6ab4f;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #c6ab4f;
    color: #c6ab4f;
}

.btn:hover,
.btn:active {
    border: 2px solid #6b5a22;
    background-color: #6b5a22;
    color: white;
}

/*---------LINKS----------*/
.footer-link:link {
    text-decoration: none;
    color: white;
}

.footer-link:visited {
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    text-decoration: none;
    color: white;
}

.footer-link:active {
    text-decoration: none;
    color: white;
}

/*--------------------------------------------*/
/*Header*/
/*--------------------------------------------*/


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/handDetail1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 10%;
}

.logo {
    height: 150px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.call, 
.number {
    display: inline-block;
    /* margin-right: 20px; */
}

/******* Main NAV ******/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    margin-right: 25px;
}


.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s;
}

.phone-number {
    text-align: left;
    margin-top: 45px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #85702b;
} 

/******** MOBILE NAV ********/
.mobile-nav-icon {
    float: right;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}

.menu {
    font-size: 200%;
    color: white;
}

/******** Sticky NAV ********/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 1px #6b5a22;
    z-index: 9999;
  }

.sticky .main-nav {
    margin-top: 17px;
    margin-right: 55px;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    border-bottom: 2px solid #c6ab4f;
    padding: 17px 0;
} 

<<<<<<< Updated upstream
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 10px 0;
}

=======
>>>>>>> Stashed changes
.sticky .logo {
    height: 60px;
    width: auto;
    float: left;
    margin-top: 0px;
}



/*--------------------------------------------*/
/*FEATURES*/
/*--------------------------------------------*/

.section-features .long-copy {
    margin-bottom: 40px;
}

/*--------------------------------------------*/
/*CARS*/
/*--------------------------------------------*/

.break {
    margin: 20%;
    margin-top: 30px;
    margin-bottom: 45px;
    line-height: 145%;
    width: 60%;
    text-align: center;
}
.cars-showcase {
    list-style: none;
    width: 100%;
}

.cars-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.cars-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.cars-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.19);
    transition: transform 0.5s, opacity 0.5s;
}

.cars-photo img:hover {
    opacity: 1;
    transform: scale(1.10);
}

.section-cars {
    padding: 0;
}

.app-screen {
    width: 60%
}

/*--------------------------------------------*/
/*Raffle*/
/*--------------------------------------------*/

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 70%;
}
.raffle-step {
    margin-bottom: 50px;
}

.raffle-step:last-of-type {
    margin-bottom: 80px;
}

.clear-fix {zoom: 1}
.clearfix:after {
    content:  ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.raffle-step div {
    color: #c6ab4f;
    border: 2px solid #c6ab4f;
    display: inline-block;
    border-radius: 20%;
    height: 50px;
    width: 50px;
    padding: 5px;
    float: left;
    text-align: none;
    font-size: 150%;
    margin-right: 25px;
    margin-right: -5px;
}

.section-steps {
    background-image: url('/resources/img/gift-cards-holidays-477454060.png');
    background-repeat: no-repeat;
    background-size: cover;
}



.raffle-text {
    /*secrets to align text with icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*--------------------------------------------*/
/*SPECIAL OFFERS*/
/*--------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}

.image-text {
    text-transform: uppercase;
    word-spacing: 4px;
    font-size: 150%;
    margin-bottom: 5px;
    color: #c6ab4f; 
}

.explanation {
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 80%;
}

.discounts {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: #c6ab4f;
}

.multi {
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 70%;
    margin-top: 0px;
}

/*--------------------------------------------*/
/*CUSTOMER TESTIMONIALS*/
/*--------------------------------------------*/

.customer-pic {
    height: 80px;
    border-radius:70%;
    margin-right: 10px;
    vertical-align: middle;
}

.customer-name {
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 90%;
    margin-right: 25px;
    float: right;
}

blockquote::before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

.col {
    margin: 0px;
}

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/handwash.jpg);
    background-size: cover;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    display: block;
    position: relative;
    margin-top: 40px;
}

/*--------------------------------------------*/
/*DETIALING SERVICES*/
/*--------------------------------------------*/

.detailing-services {
 background-color: rgb(29, 27, 27); 
}
.col {
    margin-bottom: 20px;
}

.plan-box {
    background-color: black;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px black;
}

.plan-box-two {
    margin-top: 25px;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #6b5a22;
}

.plan-box div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    border: 0;
}

.compact-price {
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #c6ab4f;
}

h3 {
    color: white;
}

.compact-price span {
    font-size: 50%;
}

.suv-prices {
    font-size: 80%;
}

.suv-prices span {
    font-size: 75%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box ul li span {
    font-size: 75%;
}

p {
    text-align: center;
    margin-top: 25px;
}

.ion-icon {
    color: #c6ab4f;
}

.ultimate-details {
    font-size: 75%;
}

.description {
    font-size: 90%;
    margin-top: 15px;
}

/*--------------------------------------------*/
/*ADDITIONAL SERVICES*/
/*--------------------------------------------*/

.additional-services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/blackDetail.png);
    background-size: cover;
    background-attachment: fixed;
}
.add-serv ul {
    list-style: none;
    line-height: 25px;
}

.add-serv ul li span {
    font-size: 70%;
}

/*--------------------------------------------*/
/*FOOTER*/
/*--------------------------------------------*/

.footer {
    background-color:  black ;
}

h3 {
    color:  #6b5a22;
}

.footer-logo {
    height: 110px;
    width: auto;
    float: center;
}
.col-add {
 align-items: center;
}

.footer-nav {
    list-style: none;
    float: right;
}

.social-links {
    list-style: none;
    margin-top: 2px;
}
 
.number {
    color:#85702b;
    margin-top: 5px;
}

/*--------------------------------------------*/
/*ANIMATIONS*/
/*--------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-4 {
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}