/*--------------------------------------------*/
/*Basic Set Up*/
/*--------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*--------------------------------------------*/
/*Reusable Componets*/
/*--------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

 /*---------HEADINGS----------*/

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
}

h1 {
    margin-top: 0;
    /* margin-bottom: 20px;  */
    color: white;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 200%;
    word-spacing: 2px;
    margin-bottom: 30px;   
}

h3 {
    font-size: 130%;
    margin-bottom: 15px;
    color: #c6ab4f;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #c6ab4f;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*---------PARAGRAPHS----------*/

.long-copy {
    line-height: 145%;
    width: 75%;
    margin-left: 12%;
    font-size: 115%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*---------ICONS----------*/

.icon-big {
    font-size: 300%;
    display: block;
    color: #6b5a22;
    margin-bottom: 10px;
    padding: 15%;
    width: 70%;
}

/*---------BUTTONS----------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #c6ab4f;
    color: white;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
 border: 1px solid #c6ab4f;
 color: #c6ab4f;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #c6ab4f;
    color: #c6ab4f;
}

.btn:hover,
.btn:active {
    border: 2px solid #6b5a22;
    background-color: #6b5a22;
    color: white;
}

/*--------------------------------------------*/
/*Header*/
/*--------------------------------------------*/


header {
    background-image: url(images/handDetail1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 10%;
}

.logo {
    height: 150px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s;

}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #85702b;
} 

/*--------------------------------------------*/
/*FEATURES*/
/*--------------------------------------------*/

.section-features .long-copy {
    margin-bottom: 40px;
}

/*--------------------------------------------*/
/*CARS*/
/*--------------------------------------------*/

.break {
    margin: 20%;
    margin-top: 30px;
    margin-bottom: 45px;
    line-height: 145%;
    width: 60%;
    text-align: center;
}
.cars-showcase {
    list-style: none;
    width: 100%;
}

.cars-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.cars-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.cars-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.19);
    transition: transform 0.5s, opacity 0.5s;
}

.cars-photo img:hover {
    opacity: 1;
    transform: scale(1.10);
}

.section-cars {
    padding: 0;
}

.app-screen {
    width: 60%
}

/*--------------------------------------------*/
/*Raffle*/
/*--------------------------------------------*/

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 70%;
}
.raffle-step {
    margin-bottom: 50px;
}

.raffle-step:last-of-type {
    margin-bottom: 80px;
}

.clear-fix {zoom: 1}
.clearfix:after {
    content:  ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.raffle-step div {
    color: #c6ab4f;
    border: 2px solid #c6ab4f;
    display: inline-block;
    border-radius: 20%;
    height: 50px;
    width: 50px;
    padding: 5px;
    float: left;
    text-align: none;
    font-size: 150%;
    margin-right: 25px;
    margin-right: -5px;
}

.rafflt-text {
    /*secrets to align text with icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*--------------------------------------------*/
/*SPECIAL OFFERS*/
/*--------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}

.image-text {
    text-transform: uppercase;
    word-spacing: 4px;
    font-size: 150%;
    margin-bottom: 5px;
    color: #c6ab4f; 
}

.explanation {
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 80%;
}

.discounts {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: #c6ab4f;
}

/*--------------------------------------------*/
/*CUSTOMER TESTIMONIALS*/
/*--------------------------------------------*/

.customer-pic {
    border-radius: 60%;
}

.customer-name {
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 65%;
    float: right;
}
.col {
    margin: 0px;
}

.section-testimonials {
    background-image: url(images/handwash.jpg);
    background-size: cover;
}