
/* LARGE TABLETS */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width:100%;
       padding: 0 2%;
    }

    h1 {
        margin-top: 0;
        /* margin-bottom: 20px;  */
        color: white;
        font-size: 200%;
        word-spacing: 4px;
        letter-spacing: 1px;
        width: 80%;
    }

    .row {
        padding: 0 2%;
    }
}

/* SMALL TABLETS */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }
}

/* LARGE PHONES */
@media only screen and (max-width: 767px) {
    .logo {
        height: 80px;
        width: auto;
    }

    .blockquote {
        padding: 0 2%;
    }

    img.app-screen {
        margin-right: 50px;
        margin-top: 50px;
    }

    .steps-box:last-child {
        padding-left: 0%; 
    }

    .raffle-text {
        font-size: 85%;
    }

    h1 {
        margin-top: -90px;
    }

    .main-nav {display: none;}
    .mobile-nav-icon {
        display: inline-block;
    }

    .main-nav {
        float: left;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        font-size: 100%;
        padding: 5px 0;
    }
    

.sticky .main-nav {
    margin-top: 17px;
    margin-right: 55px;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    padding: 10px 0;
} 

.sticky .logo {
    height: 80px;
    width: auto;
}    

.main-nav {
    margin-top: 15px;
}

.blockquote {
    padding: 0 5%;
}

.customer-name {
    font-size: 70%;
}

.plan-box ul li {
    font-size: 80%;
}

}

/* SMALL PHONES */
@media only screen and (max-width: 480px) {

    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row, .hero-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
    }


    .customer-name {
        font-size: 100%;
    }

    .plan-box ul li {
        font-size: 100%;
    }

    .multi {
        font-size: 100%;
    }

    .raffle-text {
        font-size: 115%;
    }

    p, h3 {
        font-size: 120%;
    }

   
}